<fieldset id="payment"></fieldset>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
<script type="text/javascript">
$('#button-confirm').bind('click', function() {
	$.ajax({
		type: 'POST',
		dataType: 'json',
		url: 'index.php?route=extension/payment/payzos/confirm',
		//cache: false,
		data: $('#payment :input'),
		dataType: 'json',
		async: false,
		beforeSend: function() {
			$('#button-confirm').attr('disabled', true);
			$('#payment').before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_wait }}</div>');
		},
		complete: function() {
			$('#button-confirm').attr('disabled', false);
			$('.alert-info').remove();
		},
		success: function(json) {
			if(typeof json.data.url !== 'undefined');
				window.location = json.data.url;
		},
		error: (e)=>{
			console.log(e);
		}
	});
});
</script>