{{ header }}
<div id="common-success" class="container">
    <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}
            <h1>
                {{ heading_title }}
            </h1>
            {% if error %}
                <div class="alert alert-danger alert-dismissible">
                    <i class="fa fa-exclamation-circle"></i> &nbsp;{{ error }}
                </div>
            {% endif %}
            {% if error == '' %}
                <div class="row">
                    <div style="margin:auto; width : 50%">
                        <table class="table table-bordered col-6">
                            <tr>
                                <td class="text-left">
                                    {{ text_payment_id }}
                                </td>
                                <td class="text-left">
                                    {{ payment_id }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    {{ text_payment_TX }}
                                </td>
                                <td class="text-left">
                                    {{ transaction_hash }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    {{ text_payment_amount }}
                                </td>
                                <td class="text-left">
                                    {{ real_amount }} | {{ xtz_amount }} XTZ
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    {{ text_payment_date }}
                                </td>
                                <td class="text-left">
                                    {{ date }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}
            <div class="buttons">
                <div class="pull-right">
                    <a href="{{ continue }}" class="btn btn-primary">
                        {{ button_continue }}
                    </a>
                </div>
            </div>
            {{ content_bottom }}
        </div>
        {{ column_right }}
    </div>
</div>
{{ footer }}
