{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit"
                    form="form-payment"
                    data-toggle="tooltip"
                    title="{{ button_save }}"
                    class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}"
                    data-toggle="tooltip"
                    title="{{ button_cancel }}"
                    class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>
                {{ heading_title }}
            </h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">
                            {{ breadcrumb.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i> {{ text_edit }}
                </h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}"
                    method="post"
                    enctype="multipart/form-data"
                    id="form-payment"
                    class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-pin">
                            {{ entry_wallet_hash }}
                        </label>
                        <div class="col-sm-10">
                            <input type="text"
                                name="payment_payzos_wallet_hash"
                                value="{{ payment_payzos_wallet_hash }}"
                                placeholder="{{ entry_wallet_hash }}"
                                id="input-pin"
                                class="form-control" />
                            {% if error_pin %}
                                <div class="text-danger">
                                    {{ error_pin }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                            for="input-order-status">
                            {{ entry_order_status }}
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_payzos_order_status_id"
                                id="input-order-status"
                                class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if
                                        order_status.order_status_id
                                            == payment_payzos_order_status_id %}
                                        <option value="{{
                                            order_status.order_status_id
                                            }}"
                                            selected="selected">
                                            {{ order_status.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{
                                            order_status.order_status_id
                                            }}">
                                            {{ order_status.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                            for="input-status">
                            {{ entry_status }}
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_payzos_status"
                                id="input-status"
                                class="form-control">
                                {% if payment_payzos_status %}
                                    <option value="1" selected="selected">
                                        {{ text_enabled }}
                                    </option>
                                    <option value="0">
                                        {{ text_disabled }}
                                    </option>
                                {% else %}
                                    <option value="1">
                                        {{ text_enabled }}
                                    </option>
                                    <option value="0" selected="selected">
                                        {{ text_disabled }}
                                    </option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
